<div id="<%= dom_id plant %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= plant.name %>
  </p>

  <p>
    <strong>Scientific name:</strong>
    <%= plant.scientific_name %>
  </p>

  <p>
    <strong>Average height:</strong>
    <%= plant.average_height %>
  </p>

  <p>
    <strong>Life cycle:</strong>
    <%= plant.life_cycle %>
  </p>

  <p>
    <strong>Is consumable:</strong>
    <%= plant.is_consumable %>
  </p>

  <p>
    <%= link_to "Show this plant", plant %>
  </p>
</div>
