<div class="card">
  <div class="card-body">
  <div id="<%= dom_id plant %>" class="scaffold_record">
    <div class="card-header">
      <h5 class="card-title">
        <strong><%= plant.name %></strong>
      </h5>

      <h6 class="card-subtitle mb-2 text-muted">
        <%= plant.scientific_name %>
      </h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Average height:</strong>
        <%= plant.average_height %>
      </li>
      
      <li class="list-group-item">
        <strong>Life cycle:</strong>
        <%= plant.life_cycle %>
      </li>
      
      <li class="list-group-item">
        <% if plant.is_consumable %>
          <strong>Is consumable</strong>
        <% else %>
          <strong>Is  NOT  consumable</strong>
        <% end %>
      </li>

    </ul>
    <% if current_page?(plants_path) %>
      <%= link_to "Show this plant", plant, class: "btn btn-outline-primary btn-sm", style: "width: 100%"%>
    <% end %>
  </div>

  </div>
</div>
<br>